body {
  height: 100%;
  background-color: #212121;
  color: #fafafa;
}

textarea {
  width: 100%;
  height: 100vw;
}

input, textarea {
  color: inherit;
}

.col.content-column {
  margin: 7px 0;
  text-align: center;
}

.card {
  /* position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -44.45mm;
  margin-left: -31.75mm; */
  margin: auto;
  width: 63.5mm;
  height: 88.9mm;

  border: 3mm solid black;
  border-radius: 1.5mm;
  background-color: grey;
  color: black;

  display: block;
}

.card img {
  height: 39mm;
  width: 53mm;
  margin: 0mm 2mm;
  
  border: 0.5mm solid black;
  border-radius: 1mm;

  display: block;

  background-color: #fafafa;
}

.card-header {
  height: 6mm;
  width: 55mm;
  margin: 1mm 1mm 0mm 1mm;

  padding: 0mm 1mm;

  border: 0.5mm solid black;
  border-radius: 1mm;
  background-color: #fafafa;

  font-weight: bold;

  white-space: nowrap;
}

.card-type {
  height: 6mm;
  width: 55mm;
  margin: 0mm 1mm 0mm 1mm;

  padding-left: 1mm;
  padding-right: 1mm;

  border: 0.5mm solid black;
  border-radius: 1mm;
  background-color: #fafafa;

  text-align: left;
  font-size: smaller;
  font-weight: bold;

  white-space: nowrap;
}

.card-text {
  height: 30mm;
  width: 53mm;
  margin-left: 2mm;
  margin-top: 0mm;

  padding-left: 1mm;
  padding-right: 1mm;

  border: 0.5mm solid black;
  border-radius: 1mm;
  background-color: #fafafa;

  text-align: left;
  font-size: smaller;
  font-weight: lighter;

  word-wrap: break-word;
  white-space: pre-wrap;
}

.card.yellow {
  background-color: #ffc107;
}

.card.red {
  background-color: #f44336;
}

.card.purple {
  background-color: #673ab7;
}

.card.blue {
  background-color: #03a9f4;
}

.card.green {
  background-color: #4caf50;
}

.card.colorless {
  background-color: #eeeeee;
}